In [61]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 3.3 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6

In [62]:
import pandas as pd
import datetime
from unidecode import unidecode

In [65]:
format_columns = lambda column: unidecode(column.lower())

In [108]:
parse_date = lambda dates: datetime.datetime.strptime('%m/%d/%Y', dates)

In [102]:
df = pd.read_csv('daily-treasure.csv')

In [104]:
df.columns = df.columns.map(format_columns)

In [116]:
def format_date(date):
  splitted_date = date.split('/')

  return f"{splitted_date[2]}-{splitted_date[0]}-{splitted_date[1]}"

In [118]:
df['date'] = df['date'].apply(format_date)

In [122]:
df.columns = df.columns.map(lambda col: col.replace(' ', '_'))

In [124]:
df.to_excel('daily_treasure.xlsx')

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2140 non-null   object
 1   1 mo    2140 non-null   float64
 2   2 mo    1942 non-null   float64
 3   3 mo    2140 non-null   float64
 4   4 mo    1941 non-null   float64
 5   6 mo    2140 non-null   float64
 6   1 yr    2140 non-null   float64
 7   2 yr    2140 non-null   float64
 8   3 yr    2140 non-null   float64
 9   5 yr    2140 non-null   float64
 10  7 yr    2140 non-null   float64
 11  10 yr   2140 non-null   float64
 12  20 yr   1389 non-null   float64
 13  30 yr   388 non-null    float64
dtypes: float64(13), object(1)
memory usage: 234.2+ KB

In [48]:
dfERP = pd.read_excel('base.xlsx', 'ERP')

In [99]:
dfERP.columns = [
    'year',
    't_bill_rate',
    't_bond_rate',
    'bond_bill',
    'implied_premium_ddm',
    'implied_erp_fcfe',
    'erp_riskfree_rate'
]

In [101]:
dfERP.to_excel('erp.xlsx')

In [49]:
dfCRP = pd.read_excel('base.xlsx', 'CRP Tratado', names=['DATA', 'EMBI + Risco-Brasil'])
dfCRP

           DATA  EMBI + Risco-Brasil
0    2023-07-19                  220
1    2023-07-18                  218
2    2023-07-17                  221
3    2023-07-14                  221
4    2023-07-13                  224
...         ...                  ...
2201 2014-12-31                  259
2202 2014-12-30                  261
2203 2014-12-29                  257
2204 2014-12-26                  256
2205 2014-12-24                  254

[2206 rows x 2 columns]

In [97]:
dfCRP.columns = dfCRP.columns.map(format_columns)
dfCRP.columns = ['data', 'embi_risco_brasil']
dfCRP.to_excel('crp_tratado.xlsx')

In [50]:
dfIPCA = pd.read_excel('base.xlsx', 'ipca', skiprows=5, names=['ano', 'mes', 'mes_indice', 'data', 'indice_dez', 'no_mes', '12_meses'])

dfIPCA

      ano  mes  mes_indice       data  indice_dez  no_mes  12_meses
0    1994  FEV           2 1994-02-28      198.22   40.27   3035.71
1    1994  MAR           3 1994-03-31      282.96   42.75   3417.39
2    1994  ABR           4 1994-04-30      403.73   42.68   3828.49
3    1994  MAI           5 1994-05-31      581.49   44.03   4331.19
4    1994  JUN           6 1994-06-30      857.29   47.43   4922.60
..    ...  ...         ...        ...         ...     ...       ...
348  2023  FEV           2 2023-02-28     6563.07    0.84      5.60
349  2023  MAR           3 2023-03-31     6609.67    0.71      4.65
350  2023  ABR           4 2023-04-30     6649.99    0.61      4.18
351  2023  MAI           5 2023-05-31     6665.28    0.23      3.94
352  2023  JUN           6 2023-06-30     6659.95   -0.08      3.16

[353 rows x 7 columns]

In [94]:
dfIPCA = dfIPCA[['ano', 'mes_indice', 'indice_dez', 'no_mes', '12_meses']]
dfIPCA.to_excel('ipca_tratado.xlsx')

In [51]:
dfCPI = pd.read_excel('base.xlsx', 'cpi')
dfCPI

          DATE  CPIAUCSL  Varicao12m
0   1994-01-01   146.300         NaN
1   1994-02-01   146.700         NaN
2   1994-03-01   147.100         NaN
3   1994-04-01   147.200         NaN
4   1994-05-01   147.500         NaN
..         ...       ...         ...
349 2023-02-01   301.648    0.049313
350 2023-03-01   301.808    0.045726
351 2023-04-01   302.918    0.039998
352 2023-05-01   303.294    0.029064
353 2023-06-01   303.841    0.031270

[354 rows x 3 columns]

In [80]:
dfCPI.columns = dfCPI.columns.map(format_columns)
dfCPI.tail()

          date  cpiaucsl  varicao12m
349 2023-02-01   301.648    0.049313
350 2023-03-01   301.808    0.045726
351 2023-04-01   302.918    0.039998
352 2023-05-01   303.294    0.029064
353 2023-06-01   303.841    0.031270

In [90]:
def month(date):
  month = date.month
  if (month < 1 or month > 12):
    return date
  else:
    return month

In [91]:
def year(date):
  year = date.year

  return year

In [92]:
dfCPI['month'] = dfCPI['date'].apply(month)
dfCPI['year'] = dfCPI['date'].apply(year)
dfCPI

          date  cpiaucsl  varicao12m  month  year
0   1994-01-01   146.300         NaN      1  1994
1   1994-02-01   146.700         NaN      2  1994
2   1994-03-01   147.100         NaN      3  1994
3   1994-04-01   147.200         NaN      4  1994
4   1994-05-01   147.500         NaN      5  1994
..         ...       ...         ...    ...   ...
349 2023-02-01   301.648    0.049313      2  2023
350 2023-03-01   301.808    0.045726      3  2023
351 2023-04-01   302.918    0.039998      4  2023
352 2023-05-01   303.294    0.029064      5  2023
353 2023-06-01   303.841    0.031270      6  2023

[354 rows x 5 columns]

In [93]:
dfCPI = dfCPI[['cpiaucsl','varicao12m', 'month','year']]

dfCPI.to_excel('cpi_tratado.xlsx')

In [52]:
dfKe = pd.read_excel('base.xlsx', 'Ke')
dfKe

,Date,ANO,MÊS,DIA,Comecao_mes,Ke,rf_10_y,beta,cpi,ipca,premio_risco,risco_pais,SELIC_DIA
0,2023-07-21,2023,7,21,2023-07-01,0.110432,0.0384,1,0.031270,0.0316,0.0500,0.0217,0.1365
1,2023-07-20,2023,7,20,2023-07-01,0.110532,0.0385,1,0.031270,0.0316,0.0500,0.0217,0.1365
2,2023-07-19,2023,7,19,2023-07-01,0.109832,0.0375,1,0.031270,0.0316,0.0500,0.0220,0.1365
3,2023-07-18,2023,7,18,2023-07-01,0.110132,0.0380,1,0.031270,0.0316,0.0500,0.0218,0.1365
4,2023-07-17,2023,7,17,2023-07-01,0.110532,0.0381,1,0.031270,0.0316,0.0500,0.0221,0.1365
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,2015-01-08,2015,1,8,2015-01-01,0.184380,0.0259,1,-0.003396,0.0641,0.0612,0.0278,0.1165
2136,2015-01-07,2015,1,7,2015-01-01,0.184233,0.0252,1,-0.003396,0.0641,0.0612,0.0284,0.1165
2137,2015-01-06,2015,1,6,2015-01-01,0.184533,0.0252,1,-0.003396,0.0641,0.0612,0.0287,0.1165
2138,2015-01-05,2015,1,5,2015-01-01,0.184787,0.0260,1,-0.003396,0.0641,0.0612,0.0281,0.1165
2139,2015-01-02,2015,1,2,2015-01-01,0.184048,0.0269,1,-0.003396,0.0641,0.0612,0.0264,0.1165

In [70]:
dfKe.columns = dfKe.columns.map(format_columns)
dfKe.tail()

,date,ano,mes,dia,comecao_mes,ke,rf_10_y,beta,cpi,ipca,premio_risco,risco_pais,selic_dia
2135,2015-01-08,2015,1,8,2015-01-01,0.184380,0.0259,1,-0.003396,0.0641,0.0612,0.0278,0.1165
2136,2015-01-07,2015,1,7,2015-01-01,0.184233,0.0252,1,-0.003396,0.0641,0.0612,0.0284,0.1165
2137,2015-01-06,2015,1,6,2015-01-01,0.184533,0.0252,1,-0.003396,0.0641,0.0612,0.0287,0.1165
2138,2015-01-05,2015,1,5,2015-01-01,0.184787,0.0260,1,-0.003396,0.0641,0.0612,0.0281,0.1165
2139,2015-01-02,2015,1,2,2015-01-01,0.184048,0.0269,1,-0.003396,0.0641,0.0612,0.0264,0.1165

In [77]:
dfKe = dfKe[['date', 'ke', 'rf_10_y', 'cpi', 'ipca', 'premio_risco', 'risco_pais', 'selic_dia']]
dfKe

,date,ke,rf_10_y,cpi,ipca,premio_risco,risco_pais,selic_dia
0,2023-07-21,0.110432,0.0384,0.031270,0.0316,0.0500,0.0217,0.1365
1,2023-07-20,0.110532,0.0385,0.031270,0.0316,0.0500,0.0217,0.1365
2,2023-07-19,0.109832,0.0375,0.031270,0.0316,0.0500,0.0220,0.1365
3,2023-07-18,0.110132,0.0380,0.031270,0.0316,0.0500,0.0218,0.1365
4,2023-07-17,0.110532,0.0381,0.031270,0.0316,0.0500,0.0221,0.1365
...,...,...,...,...,...,...,...,...
2135,2015-01-08,0.184380,0.0259,-0.003396,0.0641,0.0612,0.0278,0.1165
2136,2015-01-07,0.184233,0.0252,-0.003396,0.0641,0.0612,0.0284,0.1165
2137,2015-01-06,0.184533,0.0252,-0.003396,0.0641,0.0612,0.0287,0.1165
2138,2015-01-05,0.184787,0.0260,-0.003396,0.0641,0.0612,0.0281,0.1165
2139,2015-01-02,0.184048,0.0269,-0.003396,0.0641,0.0612,0.0264,0.1165

In [79]:
dfKe.to_excel('ke_tratado.xlsx')

In [56]:
dfBMP = pd.read_excel('base.xlsx', 'BMP_V', skiprows=2)
dfBMP = dfBMP[['Discriminação', 'Mês', 'Inv_carteira', 'Inv_direto']]

In [66]:
dfBMP.columns = dfBMP.columns.map(format_columns)
dfBMP

     discriminacao  mes  inv_carteira   inv_direto
0             1995    1    901.491000   412.422000
1             1995    2     98.636000   131.138000
2             1995    3   2636.258000   -24.147000
3             1995    4     57.533000   167.925000
4             1995    5  -1373.860000   481.828000
..             ...  ...           ...          ...
336           2023    1  -2250.853894  6877.237232
337           2023    2   -625.763806  6450.892354
338           2023    3   4126.424801  7672.828844
339           2023    4  -3210.640894  3312.000320
340           2023    5   4785.862610  5380.177962

[341 rows x 4 columns]

In [68]:
dfBMP.to_excel('bmp_tratado.xlsx')

In [54]:
dfPIB = pd.read_excel('base.xlsx', 'pib', skiprows=8)
dfPIB = dfPIB[['Ano', 'trimestre', 'Data', 'Indice', 'Crescimento']]
dfPIB

      Ano  trimestre       Data    Indice  Crescimento
0    1996          3 1996-03-31   189.323          NaN
1    1996          6 1996-06-30   204.611          NaN
2    1996          9 1996-09-30   221.513          NaN
3    1996         12 1996-12-31   239.316          NaN
4    1997          3 1997-03-31   219.117     0.157371
..    ...        ...        ...       ...          ...
104  2022          3 2022-03-31  2315.709     0.075762
105  2022          6 2022-06-30  2471.837     0.132805
106  2022          9 2022-09-30  2543.645     0.128256
107  2022         12 2022-12-31  2584.126     0.118880
108  2023          3 2023-03-31  2556.531     0.103995

[109 rows x 5 columns]

In [55]:
dfPIB = dfPIB[['Ano', 'trimestre', 'Indice', 'Crescimento']]
dfPIB.columns = dfPIB.columns.map(lambda column: f"{column.lower()}_pib")
dfPIB.to_excel('pib_tratado.xlsx')