In [1]:
import pandas as pd
import datetime

In [3]:
df = pd.read_excel('ibovesp_2005_2023.xlsx')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4594 entries, 0 to 4593
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data            4594 non-null   datetime64[ns]
 1   ultimo_valor    4594 non-null   float64
 2   valor_abertura  4594 non-null   float64
 3   valor_maximo    4594 non-null   float64
 4   valor_minimo    4594 non-null   float64
 5   volume          4593 non-null   float64
 6   variacao        4594 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 251.4 KB

In [5]:
bmp = pd.read_excel('bmp.xlsx')
bmp = bmp[['discriminacao', 'mes', 'inv_carteira', 'inv_direto']]
bmp

     discriminacao  mes  inv_carteira   inv_direto
0             1995    1    901.491000   412.422000
1             1995    2     98.636000   131.138000
2             1995    3   2636.258000   -24.147000
3             1995    4     57.533000   167.925000
4             1995    5  -1373.860000   481.828000
..             ...  ...           ...          ...
336           2023    1  -2250.853894  6877.237232
337           2023    2   -625.763806  6450.892354
338           2023    3   4126.424801  7672.828844
339           2023    4  -3210.640894  3312.000320
340           2023    5   4785.862610  5380.177962

[341 rows x 4 columns]

In [62]:
def inv_carteira(date):
  year = date.year
  month = date.month

  dt = bmp.loc[bmp['discriminacao'] == year]
  dt = dt.loc[dt['mes'] == month]
  values = dt.values

  if (values.any()):
    return float(values[0][2])
  else:
    return None

In [63]:
def inv_direto(date):
  year = date.year
  month = date.month

  dt = bmp.loc[bmp['discriminacao'] == year]
  dt = dt.loc[dt['mes'] == month]
  values = dt.values

  if (values.any()):
    return float(values[0][3])
  else:
    return None

In [61]:
test = df.iloc[::5, :]

test['data'].apply(inv_carteira)

n tem
n tem
n tem
n tem
n tem
n tem
n tem
n tem
4785.86260997
4785.86260997
4785.86260997
4785.86260997
-3210.640894079997
-3210.640894079997
-3210.640894079997
-3210.640894079997
4126.424800690001
4126.424800690001
4126.424800690001
4126.424800690001
-625.7638059299991
-625.7638059299991
-625.7638059299991
-625.7638059299991
-2250.85389361
-2250.85389361
-2250.85389361
-2250.85389361
-363.2351286100015
-363.2351286100015
-363.2351286100015
-363.2351286100015
-363.2351286100015
-2278.45504334
-2278.45504334
-2278.45504334
-2278.45504334
-2709.383358890002
-2709.383358890002
-2709.383358890002
-2709.383358890002
2572.091202570002
2572.091202570002
2572.091202570002
2572.091202570002
1652.45851028
1652.45851028
1652.45851028
1652.45851028
-2152.12009184
-2152.12009184
-2152.12009184
-2152.12009184
-2152.12009184
-1403.84905297
-1403.84905297
-1403.84905297
-1403.84905297
3752.875854379998
3752.875854379998
3752.875854379998
3752.875854379998
4278.485153760001
4278.485153760001
4278.485153760001
4278.485153760001
5947.656242
5947.656242
5947.656242
5947.656242
-929.7899593600005
-929.7899593600005
-929.7899593600005
-929.7899593600005
-4275.751742639999
-4275.751742639999
-4275.751742639999
-4275.751742639999
1363.399279810002
1363.399279810002
1363.399279810002
1363.399279810002
1363.399279810002
-1137.12505016
-1137.12505016
-1137.12505016
-1137.12505016
-4100.990316769999
-4100.990316769999
-4100.990316769999
-4100.990316769999
37.54113345999826
37.54113345999826
37.54113345999826
37.54113345999826
1352.02801791
1352.02801791
1352.02801791
1352.02801791
78.3012240399994
78.3012240399994
78.3012240399994
78.3012240399994
-3084.871976960001
-3084.871976960001
-3084.871976960001
-3084.871976960001
-3084.871976960001
-2272.27098976
-2272.27098976
-2272.27098976
-2272.27098976
806.7914246800008
806.7914246800008
806.7914246800008
806.7914246800008
5300.429593079998
5300.429593079998
5300.429593079998
5300.429593079998
-2149.59320729
-2149.59320729
-2149.59320729
-2149.59320729
-4074.74381155
-4074.74381155
-4074.74381155
-4074.74381155
-8964.356365419997
-8964.356365419997
-8964.356365419997
-8964.356365419997
-6149.411360479999
-6149.411360479999
-6149.411360479999
-6149.411360479999
-5118.784236610001
-5118.784236610001
-5118.784236610001
-5118.784236610001
635.7849191100008
635.7849191100008
635.7849191100008
635.7849191100008
-1400.6507758
-1400.6507758
-1400.6507758
-1400.6507758
2774.439709429999
2774.439709429999
2774.439709429999
2774.439709429999
2774.439709429999
-4578.255655110001
-4578.255655110001
-4578.255655110001
-4578.255655110001
1937.532716379999
1937.532716379999
1937.532716379999
1937.532716379999
9590.979062440001
9590.979062440001
9590.979062440001
9590.979062440001
22503.99897474
22503.99897474
22503.99897474
22503.99897474
22503.99897474
4425.59439794
4425.59439794
4425.59439794
-2774.615390739998
-2774.615390739998
-2774.615390739998
-2774.615390739998
-2774.615390739998
2233.399172200002
2233.399172200002
2233.399172200002
-94.81506533999857
-94.81506533999857
-94.81506533999857
-94.81506533999857
5708.617128480003
5708.617128480003
5708.617128480003
5708.617128480003
5708.617128480003
4608.230978290002
4608.230978290002
4608.230978290002
4608.230978290002
7388.99301702
7388.99301702
7388.99301702
7388.99301702
-1752.009566100001
-1752.009566100001
-1752.009566100001
-1752.009566100001
-1752.009566100001
2283.806828210002
2283.806828210002
2283.806828210002
2283.806828210002
3091.75302425
3091.75302425
3091.75302425
3091.75302425
2174.33649238
2174.33649238
2174.33649238
2174.33649238
-1129.7570743
-1129.7570743
-1129.7570743
-1129.7570743
-1518.894786439997
-1518.894786439997
-1518.894786439997
-1518.894786439997
-3777.216362189998
-3777.216362189998
-3777.216362189998
-3777.216362189998
1703.455584110002
1703.455584110002
1703.455584110002
1703.455584110002
5689.35889376
5689.35889376
5689.35889376
5689.35889376
329.7243490000001
329.7243490000001
329.7243490000001
329.7243490000001
3750.798367040001
3750.798367040001
3750.798367040001
3750.798367040001
6168.46355954
6168.46355954
6168.46355954
6168.46355954
-11174.01398213
-11174.01398213
-11174.01398213
-11174.01398213
-11174.01398213
2088.96165434
2088.96165434
2088.96165434
2088.96165434
2664.558646070002
2664.558646070002
2664.558646070002
2664.558646070002
-5737.113055819998
-5737.113055819998
-5737.113055819998
-5737.113055819998
10586.75522185
10586.75522185
10586.75522185
10586.75522185
751.9218431900006
751.9218431900006
751.9218431900006
751.9218431900006
-10088.08869054
-10088.08869054
-10088.08869054
-10088.08869054
1805.113883060001
1805.113883060001
1805.113883060001
1805.113883060001
3229.604602740001
3229.604602740001
3229.604602740001
3229.604602740001
-642.1860533300003
-642.1860533300003
-642.1860533300003
-642.1860533300003
4863.749807779999
4863.749807779999
4863.749807779999
4863.749807779999
1377.70577309
1377.70577309
1377.70577309
1377.70577309
1377.70577309
-1956.119775220001
-1956.119775220001
-1956.119775220001
-1956.119775220001
3757.328007770001
3757.328007770001
3757.328007770001
3757.328007770001
1483.387872799999
1483.387872799999
1483.387872799999
1483.387872799999
-3488.791845220002
-3488.791845220002
-3488.791845220002
-3488.791845220002
3224.44613389
3224.44613389
3224.44613389
3224.44613389
3224.44613389
1994.877621050002
1994.877621050002
1994.877621050002
2074.708438399999
2074.708438399999
2074.708438399999
2074.708438399999
1122.65039009
1122.65039009
1122.65039009
1122.65039009
1122.65039009
-23.49640955000029
-23.49640955000029
-23.49640955000029
-23.49640955000029
2148.10289835
2148.10289835
2148.10289835
2148.10289835
4861.890338409999
4861.890338409999
4861.890338409999
4861.890338409999
5662.81996067
5662.81996067
5662.81996067
5662.81996067
-2864.711775639998
-2864.711775639998
-2864.711775639998
-2864.711775639998
-2864.711775639998
-3222.758762369999
-3222.758762369999
-3222.758762369999
-3222.758762369999
5693.388949609998
5693.388949609998
5693.388949609998
5693.388949609998
-989.78794818
-989.78794818
-989.78794818
-989.78794818
13.52032350999934
13.52032350999934
13.52032350999934
13.52032350999934
13.52032350999934
5704.16325494
5704.16325494
5704.16325494
1927.60542186
1927.60542186
1927.60542186
1927.60542186
2272.27004749
2272.27004749
2272.27004749
2272.27004749
-4026.44163003
-4026.44163003
-4026.44163003
-4026.44163003
3543.76543111
3543.76543111
3543.76543111
3543.76543111
3853.795004619999
3853.795004619999
3853.795004619999
3853.795004619999
1435.45257646
1435.45257646
1435.45257646
1435.45257646
1435.45257646
3508.807717219999
3508.807717219999
3508.807717219999
3508.807717219999
227.1288189600001
227.1288189600001
227.1288189600001
227.1288189600001
-3641.832894499998
-3641.832894499998
-3641.832894499998
-3641.832894499998
-6108.947430899998
-6108.947430899998
-6108.947430899998
-6108.947430899998
-3475.960635469999
-3475.960635469999
-3475.960635469999
-3475.960635469999
-3475.960635469999
-3817.90980222
-3817.90980222
-3817.90980222
-11608.82688469
-11608.82688469
-11608.82688469
-11608.82688469
8757.28904911
8757.28904911
8757.28904911
8757.28904911
-1683.999827329999
-1683.999827329999
-1683.999827329999
-1683.999827329999
-4876.328212579998
-4876.328212579998
-4876.328212579998
-4876.328212579998
-4876.328212579998
-5744.667333840001
-5744.667333840001
-5744.667333840001
-5744.667333840001
-4998.31110842
-4998.31110842
-4998.31110842
-4998.31110842
-754.4012112400014
-754.4012112400014
-754.4012112400014
-754.4012112400014
-754.4012112400014
-8436.733311489998
-8436.733311489998
-8436.733311489998
-8436.733311489998
-5871.79791673
-5871.79791673
-5871.79791673
-5871.79791673
-3791.743387960002
-3791.743387960002
-3791.743387960002
-3791.743387960002
-5932.84100013
-5932.84100013
-5932.84100013
-5932.84100013
-1272.928826750001
-1272.928826750001
-1272.928826750001
-1272.928826750001
-6809.628718989999
-6809.628718989999
-6809.628718989999
-6809.628718989999
839.1707032799994
839.1707032799994
839.1707032799994
839.1707032799994
-419.3827290700006
-419.3827290700006
-419.3827290700006
-419.3827290700006
1838.31806449
1838.31806449
1838.31806449
1838.31806449
-6918.755479049999
-6918.755479049999
-6918.755479049999
-6918.755479049999
-6480.98626481
-6480.98626481
-6480.98626481
-6480.98626481
-6480.98626481
-5990.62202038
-5990.62202038
-5990.62202038
-5990.62202038
-1089.02396874
-1089.02396874
-1089.02396874
-1089.02396874
-3725.308113259999
-3725.308113259999
-3725.308113259999
-3725.308113259999
-326.9209499800018
-326.9209499800018
-326.9209499800018
-326.9209499800018
-326.9209499800018
-3126.831457330001
-3126.831457330001
-3126.831457330001
-3126.831457330001
-1942.522280069999
-1942.522280069999
-1942.522280069999
-4938.98359249
-4938.98359249
-4938.98359249
-4938.98359249
-4938.98359249
-1167.662776129999
-1167.662776129999
-1167.662776129999
-2065.83190701
-2065.83190701
-2065.83190701
-2065.83190701
-996.3314350300014
-996.3314350300014
-996.3314350300014
-996.3314350300014
-584.8406022900008
-584.8406022900008
-584.8406022900008
-584.8406022900008
-1897.09971817
-1897.09971817
-1897.09971817
-1897.09971817
-1897.09971817
-3618.806877999999
-3618.806877999999
-3618.806877999999
-3618.806877999999
-1234.634884959999
-1234.634884959999
-1234.634884959999
-1234.634884959999
2055.51296579
2055.51296579
2055.51296579
2055.51296579
-1772.553732580001
-1772.553732580001
-1772.553732580001
-1772.553732580001
845.9071176499999
845.9071176499999
845.9071176499999
845.9071176499999
845.9071176499999
1599.252263069999
1599.252263069999
1599.252263069999
1599.252263069999
-6988.717945099999
-6988.717945099999
-6988.717945099999
-6988.717945099999
-1310.33206518
-1310.33206518
-1310.33206518
-1310.33206518
-3852.509365470001
-3852.509365470001
-3852.509365470001
-3852.509365470001
355.2615966999995
355.2615966999995
355.2615966999995
355.2615966999995
383.8088669499991
383.8088669499991
383.8088669499991
383.8088669499991
-603.0076697299997
-603.0076697299997
-603.0076697299997
-603.0076697299997
-603.0076697299997
-8177.92192977
-8177.92192977
-8177.92192977
-8177.92192977
-2984.660569050001
-2984.660569050001
-2984.660569050001
-2984.660569050001
-5000.058543840001
-5000.058543840001
-5000.058543840001
-5000.058543840001
-5000.058543840001
-4207.783582640001
-4207.783582640001
-4207.783582640001
-9913.124242700002
-9913.124242700002
-9913.124242700002
-9913.124242700002
-9913.124242700002
325.9038858199995
325.9038858199995
325.9038858199995
325.9038858199995
-6263.29555397
-6263.29555397
-6263.29555397
-6263.29555397
745.5436730400015
745.5436730400015
745.5436730400015
745.5436730400015
-3458.46422209
-3458.46422209
-3458.46422209
-3458.46422209
-18466.42290687
-18466.42290687
-18466.42290687
-18466.42290687
-8351.842864870003
-8351.842864870003
-8351.842864870003
-8351.842864870003
-5938.385227729999
-5938.385227729999
-5938.385227729999
-5938.385227729999
-7146.29412172
-7146.29412172
-7146.29412172
-7146.29412172
-7146.29412172
-2977.10659489
-2977.10659489
-2977.10659489
-2977.10659489
-4706.84973096
-4706.84973096
-4706.84973096
-4706.84973096
-7097.83348009
-7097.83348009
-7097.83348009
-7097.83348009
-3082.889306770001
-3082.889306770001
-3082.889306770001
-3082.889306770001
-3082.889306770001
-1990.751768150001
-1990.751768150001
-1990.751768150001
-4441.66992884
-4441.66992884
-4441.66992884
-4441.66992884
-7742.005574107194
-7742.005574107194
-7742.005574107194
-7742.005574107194
-3770.973802290341
-3770.973802290341
-3770.973802290341
-3770.973802290341
-17368.01278456138
-17368.01278456138
-17368.01278456138
-17368.01278456138
-6486.839284782454
-6486.839284782454
-6486.839284782454
-6486.839284782454
-5771.480852967095
-5771.480852967095
-5771.480852967095
-5771.480852967095
-8814.81275181796
-8814.81275181796
-8814.81275181796
-8814.81275181796
-8814.81275181796
-2054.040175742625
-2054.040175742625
-2054.040175742625
-2054.040175742625
-2437.13329454773
-2437.13329454773
-2437.13329454773
-2437.13329454773
73.81211925700262
73.81211925700262
73.81211925700262
73.81211925700262
-1570.559220432818
-1570.559220432818
-1570.559220432818
-1570.559220432818
1983.144896216931
1983.144896216931
1983.144896216931
1983.144896216931
1819.267674127279
1819.267674127279
1819.267674127279
1819.267674127279
4258.877072785985
4258.877072785985
4258.877072785985
4258.877072785985
4094.352472087719
4094.352472087719
4094.352472087719
4094.352472087719
7484.822895445497
7484.822895445497
7484.822895445497
7484.822895445497
7484.822895445497
1808.564126930595
1808.564126930595
1808.564126930595
1808.564126930595
-1066.547289084142
-1066.547289084142
-1066.547289084142
-1066.547289084142
-5447.505028339935
-5447.505028339935
-5447.505028339935
-5447.505028339935
-5447.505028339935
-402.2865211204789
-402.2865211204789
-402.2865211204789
-402.2865211204789
-2668.016451236698
-2668.016451236698
-2668.016451236698
-2668.016451236698
-4690.178731250744
-4690.178731250744
-4690.178731250744
-4690.178731250744
-5196.24401990323
-5196.24401990323
-5196.24401990323
-5196.24401990323
-2225.960721367082
-2225.960721367082
-2225.960721367082
-2225.960721367082
1096.919844815043
1096.919844815043
1096.919844815043
1096.919844815043
-8692.667821764811
-8692.667821764811
-8692.667821764811
-8692.667821764811
1071.719145534586
1071.719145534586
1071.719145534586
-5311.955545718553
-5311.955545718553
-5311.955545718553
-5311.955545718553
-5311.955545718553
-2404.472502180653
-2404.472502180653
-2404.472502180653
-2404.472502180653
-1509.988796203163
-1509.988796203163
-1509.988796203163
-1509.988796203163
-7720.445555726301
-7720.445555726301
-7720.445555726301
-7720.445555726301
-4854.933000000005
-4854.933000000005
-4854.933000000005
-4854.933000000005
-4475.949440063477
-4475.949440063477
-4475.949440063477
-4475.949440063477
-4475.949440063477
-5348.857000000001
-5348.857000000001
-5348.857000000001
-5348.857000000001
-4240.086953125001
-4240.086953125001
-4240.086953125001
-4240.086953125001
-3576.318000000001
-3576.318000000001
-3576.318000000001
-3576.318000000001
-1631.505999999999
-1631.505999999999
-1631.505999999999
-1631.505999999999
-1758.056
-1758.056
-1758.056
-1758.056
-2369.873
-2369.873
-2369.873
-2369.873
-2599.401000000001
-2599.401000000001
-2599.401000000001
-2599.401000000001
-2544.001000000001
-2544.001000000001
-2544.001000000001
-2544.001000000001
-585.4760000000001
-585.4760000000001
-585.4760000000001
-585.4760000000001
-585.4760000000001
81.46700000000013
81.46700000000013
81.46700000000013
81.46700000000013
4482.728
4482.728
4482.728
4482.728
-2634.965328125001
-2634.965328125001
-2634.965328125001
-2634.965328125001
5460.841540000001
5460.841540000001
5460.841540000001
5460.841540000001
-1695.96731
-1695.96731
-1695.96731
-1695.96731
-1695.96731
-4379.737299999999
-4379.737299999999
-4379.737299999999
-538.7952799999998
-538.7952799999998
-538.7952799999998
-538.7952799999998
-1410.45142
-1410.45142
-1410.45142
-1410.45142
-1410.45142
-1621.81462
-1621.81462
-1621.81462
-1621.81462
2495.510740000001
2495.510740000001
2495.510740000001
2495.510740000001
-3198.576831249999
-3198.576831249999
-3198.576831249999
-3198.576831249999
998.4234575000003
998.4234575000003
998.4234575000003
998.4234575000003
2353.51396
2353.51396
2353.51396
2353.51396
2353.51396
-2236.56218
-2236.56218
-2236.56218
-2236.56218
357.8705400000001
357.8705400000001
357.8705400000001
357.8705400000001
3194.44366
3194.44366
3194.44366
3194.44366
-1946.87666
-1946.87666
-1946.87666
-1946.87666
-1946.87666
-3450.3905
-3450.3905
-3450.3905
-419.62648
-419.62648
-419.62648
-419.62648

0       None
5       None
10      None
15      None
20      None
        ...
4570    None
4575    None
4580    None
4585    None
4590    None
Name: data, Length: 919, dtype: object

In [64]:
df['bmp_inv_carteira'] = df['data'].apply(inv_carteira)
df['bmp_inv_direto'] = df['data'].apply(inv_direto)

df

,data,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto
0,2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN
1,2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN
2,2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN
3,2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN
4,2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4589,2005-01-07,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436
4590,2005-01-06,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436
4591,2005-01-05,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436
4592,2005-01-04,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436
4593,2005-01-03,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436

In [67]:
df.iloc[:40, :]

,data,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto
0,2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN
1,2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN
2,2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN
3,2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN
4,2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN
5,2023-07-17,118.219,117.711,118.302,116.591,8.20,0.43,NaN,NaN
6,2023-07-14,117.711,119.268,119.329,117.526,8.98,-1.30,NaN,NaN
7,2023-07-13,119.264,117.671,119.739,117.668,9.26,1.36,NaN,NaN
8,2023-07-12,117.666,117.557,119.156,117.557,8.94,0.38,NaN,NaN
9,2023-07-11,117.220,117.942,117.942,115.704,10.59,-0.61,NaN,NaN
10,2023-07-10,117.942,118.897,118.897,117.814,8.10,-0.80,NaN,NaN
11,2023-07-07,118.898,117.427,119.549,117.427,10.52,1.25,NaN,NaN
12,2023-07-06,117.426,119.548,119.548,117.096,11.03,-1.78,NaN,NaN
13,2023-07-05,119.549,119.072,120.200,118.688,10.96,0.40,NaN,NaN
14,2023-07-04,119.076,119.673,119.678,118.830,6.56,-0.50,NaN,NaN
15,2023-07-03,119.673,118.092,119.877,118.092,8.91,1.34,NaN,NaN
16,2023-06-30,118.087,118.388,119.447,118.087,13.82,-0.25,NaN,NaN
17,2023-06-29,118.383,116.683,118.623,116.683,11.06,1.46,NaN,NaN
18,2023-06-28,116.681,117.524,117.937,116.560,10.65,-0.72,NaN,NaN
19,2023-06-27,117.523,118.246,119.212,116.561,13.08,-0.61,NaN,NaN
20,2023-06-26,118.243,118.977,119.148,117.491,10.46,-0.62,NaN,NaN
21,2023-06-23,118.977,118.959,119.386,118.178,12.85,0.04,NaN,NaN
22,2023-06-22,118.934,120.420,120.420,118.018,11.83,-1.23,NaN,NaN
23,2023-06-21,120.420,119.623,120.519,119.332,11.74,0.67,NaN,NaN
24,2023-06-20,119.622,119.858,119.858,118.416,10.92,-0.20,NaN,NaN
25,2023-06-19,119.858,118.757,119.939,118.558,6.78,0.93,NaN,NaN
26,2023-06-16,118.758,119.208,119.555,118.487,15.25,-0.39,NaN,NaN
27,2023-06-15,119.221,119.068,119.686,118.693,12.30,0.13,NaN,NaN
28,2023-06-14,119.069,116.753,119.085,116.745,16.94,1.99,NaN,NaN
29,2023-06-13,116.743,117.337,117.924,116.363,12.39,-0.51,NaN,NaN
30,2023-06-12,117.336,117.022,117.735,116.704,12.02,0.27,NaN,NaN
31,2023-06-09,117.019,115.489,117.603,115.489,13.53,1.33,NaN,NaN
32,2023-06-07,115.488,114.610,115.978,114.610,14.02,0.77,NaN,NaN
33,2023-06-06,114.610,112.697,114.783,112.696,15.03,1.70,NaN,NaN
34,2023-06-05,112.696,112.558,113.071,111.736,9.08,0.12,NaN,NaN
35,2023-06-02,112.558,110.568,113.070,110.567,14.55,1.80,NaN,NaN
36,2023-06-01,110.565,108.339,110.745,108.335,14.67,2.06,NaN,NaN
37,2023-05-31,108.335,108.967,109.137,108.193,15.86,-0.58,4785.86261,5380.177962
38,2023-05-30,108.967,110.333,111.291,108.552,11.59,-1.24,4785.86261,5380.177962
39,2023-05-29,110.333,110.906,111.168,110.195,5.91,-0.52,4785.86261,5380.177962

In [68]:
# df.to_excel('ibv_bmp.xlsx')

# Encerrando arquivo bmp.xlsx

In [69]:
cpi = pd.read_excel('cpi.xlsx')

cpi

     Unnamed: 0  cpiaucsl  varicao12m  month  year
0             0   146.300         NaN      1  1994
1             1   146.700         NaN      2  1994
2             2   147.100         NaN      3  1994
3             3   147.200         NaN      4  1994
4             4   147.500         NaN      5  1994
..          ...       ...         ...    ...   ...
349         349   301.648    0.049313      2  2023
350         350   301.808    0.045726      3  2023
351         351   302.918    0.039998      4  2023
352         352   303.294    0.029064      5  2023
353         353   303.841    0.031270      6  2023

[354 rows x 5 columns]

In [71]:
df2 = df.copy()

In [75]:
df2['cpi_aucsl'] = df2['data'].apply(get_column_by_date, year_column='year', month_column='month', position=1)
df2['cpi_variacao_12m'] = df2['data'].apply(get_column_by_date, year_column='year', month_column='month', position=2)

In [77]:
df2.to_excel('ibv_bmp_cpi.xlsx')

# Encerrando arquivo cpi.xlsx

In [78]:
df3 = df2.copy()

In [79]:
crp = pd.read_excel('crp.xlsx')

In [82]:
crp = crp[['data', 'embi_risco_brasil']]
crp

           data  embi_risco_brasil
0    2023-07-19                220
1    2023-07-18                218
2    2023-07-17                221
3    2023-07-14                221
4    2023-07-13                224
...         ...                ...
2201 2014-12-31                259
2202 2014-12-30                261
2203 2014-12-29                257
2204 2014-12-26                256
2205 2014-12-24                254

[2206 rows x 2 columns]

In [83]:
crp.set_index('data', inplace=True)

In [85]:
df3.set_index('data', inplace=True)

In [88]:
concat = pd.concat([crp, df3], axis=1)

In [90]:
concat.to_excel('bmp_cpi_crp.xlsx')

# Encerrando o arquivo crp.xlsx

In [91]:
df4 = df3.copy()

In [118]:
daily_treasure = pd.read_excel('daily.xlsx')

In [119]:
daily_treasure.rename({'date': 'data'}, axis='columns', inplace=True)

In [120]:
daily_treasure.columns[1:]

Index(['data', '1_mo', '2_mo', '3_mo', '4_mo', '6_mo', '1_yr', '2_yr', '3_yr',
       '5_yr', '7_yr', '10_yr', '20_yr', '30_yr'],
      dtype='object')

In [122]:
daily_treasure = daily_treasure[daily_treasure.columns[1:]]

In [123]:
daily_treasure

,data,1_mo,2_mo,3_mo,4_mo,6_mo,1_yr,2_yr,3_yr,5_yr,7_yr,10_yr,20_yr,30_yr
0,2023-07-21,5.43,5.54,5.50,5.54,5.53,5.35,4.82,4.44,4.09,3.97,3.84,4.10,3.91
1,2023-07-20,5.44,5.53,5.49,5.54,5.52,5.35,4.80,4.43,4.08,3.98,3.85,4.10,3.91
2,2023-07-19,5.37,5.51,5.49,5.54,5.51,5.32,4.74,4.34,3.98,3.87,3.75,4.01,3.84
3,2023-07-18,5.37,5.50,5.49,5.53,5.51,5.32,4.74,4.35,4.00,3.90,3.80,4.08,3.91
4,2023-07-17,5.37,5.51,5.49,5.53,5.52,5.33,4.74,4.34,4.02,3.91,3.81,4.10,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,2015-01-08,0.01,0.03,0.08,0.23,0.62,1.00,1.50,1.81,2.03,2.33,2.59,NaN,NaN
2136,2015-01-07,0.02,0.03,0.09,0.25,0.62,1.00,1.47,1.76,1.96,2.25,2.52,NaN,NaN
2137,2015-01-06,0.02,0.03,0.10,0.25,0.65,1.02,1.50,1.78,1.97,2.25,2.52,NaN,NaN
2138,2015-01-05,0.02,0.03,0.10,0.26,0.68,1.06,1.57,1.85,2.04,2.32,2.60,NaN,NaN
2139,2015-01-02,0.02,0.02,0.11,0.25,0.66,1.07,1.61,1.92,2.12,2.41,2.69,NaN,NaN

In [124]:
daily_treasure.set_index('data', inplace=True)

In [125]:
concat2 = pd.concat([df4, daily_treasure], axis=1)

concat2

,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m,...,4_mo,6_mo,1_yr,2_yr,3_yr,5_yr,7_yr,10_yr,20_yr,30_yr
data,,,,,,,,,,,,,,,,,,,,,
2023-07-24 00:00:00,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-21 00:00:00,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-20 00:00:00,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-19 00:00:00,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-18 00:00:00,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.23,0.62,1.00,1.50,1.81,2.03,2.33,2.59,NaN,NaN
2015-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,0.62,1.00,1.47,1.76,1.96,2.25,2.52,NaN,NaN
2015-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,0.65,1.02,1.50,1.78,1.97,2.25,2.52,NaN,NaN
2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.26,0.68,1.06,1.57,1.85,2.04,2.32,2.60,NaN,NaN
2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,0.66,1.07,1.61,1.92,2.12,2.41,2.69,NaN,NaN

In [126]:
concat2.to_excel('bmp_cpi_crp_treasure_ibv.xlsx')

In [73]:
def get_column_by_date(date, year_column, month_column, position):
  year = date.year
  month = date.month

  dt = cpi.loc[cpi[year_column] == year]
  dt = dt.loc[dt[month_column] == month]
  values = dt.values

  if (values.any()):
    return float(values[0][position])
  else:
    return None

# Terminando tesouro

In [128]:
erp = pd.read_excel('erp.xlsx')
erp = erp[erp.columns[1:]]
erp

,year,t_bill_rate,t_bond_rate,bond_bill,implied_premium_ddm,implied_erp_fcfe,erp_riskfree_rate
0,1994,0.05000,0.0782,0.02820,0.0306,0.0355,0.453964
1,1995,0.03500,0.0557,0.02070,0.0244,0.0329,0.590664
2,1996,0.05000,0.0641,0.01410,0.0211,0.0320,0.499220
3,1997,0.05350,0.0574,0.00390,0.0167,0.0273,0.475610
4,1998,0.04330,0.0465,0.00320,0.0138,0.0226,0.486022
5,1999,0.05370,0.0644,0.01070,0.0120,0.0205,0.318323
6,2000,0.05730,0.0511,-0.00620,0.0165,0.0287,0.561644
7,2001,0.01800,0.0505,0.03250,0.0173,0.0362,0.716832
8,2002,0.01200,0.0381,0.02610,0.0229,0.0410,1.076115
9,2003,0.01000,0.0425,0.03250,0.0212,0.0369,0.868235
10,2004,0.02180,0.0422,0.02040,0.0202,0.0365,0.864929
11,2005,0.04310,0.0439,0.00080,0.0220,0.0408,0.929385
12,2006,0.04880,0.0470,-0.00180,0.0197,0.0416,0.885106
13,2007,0.03310,0.0402,0.00710,0.0206,0.0437,1.087065
14,2008,0.01590,0.0221,0.00620,0.0405,0.0643,2.909502
15,2009,0.00140,0.0384,0.03700,0.0260,0.0436,1.135417
16,2010,0.00130,0.0329,0.03160,0.0224,0.0520,1.580547
17,2011,0.00030,0.0188,0.01850,0.0271,0.0601,3.196809
18,2012,0.00050,0.0176,0.01710,0.0247,0.0578,3.284091
19,2013,0.00070,0.0304,0.02970,0.0203,0.0496,1.631579
20,2014,0.00053,0.0217,0.02117,0.0224,0.0578,2.663594
21,2015,0.00210,0.0227,0.02060,0.0246,0.0612,2.696035
22,2016,0.00510,0.0245,0.01940,0.0241,0.0569,2.322449
23,2017,0.01390,0.0241,0.01020,0.0236,0.0508,2.107884
24,2018,0.02370,0.0268,0.00310,0.0250,0.0596,2.223881
25,2019,0.01550,0.0192,0.00370,0.0203,0.0520,2.708333
26,2020,0.00090,0.0093,0.00840,0.0165,0.0472,5.075269
27,2021,0.00060,0.0151,0.01450,0.0172,0.0424,2.807947
28,2022,0.04420,0.0388,-0.00540,0.0216,0.0594,1.530928

In [135]:
def get_column_by_year(date, year_column, position):
  year = date.year

  dt = erp.loc[erp[year_column] == year]
  values = dt.values

  if (values.any()):
    return float(values[0][position])
  else:
    return None

In [130]:
prefix = 'erp_'

In [131]:
df5 = df4.copy()

In [132]:
df5.reset_index(inplace=True)
df5

,data,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m
0,2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN,NaN,NaN
1,2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN,NaN,NaN
2,2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN,NaN,NaN
3,2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN,NaN,NaN
4,2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4589,2005-01-07,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436,191.6,0.026245
4590,2005-01-06,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436,191.6,0.026245
4591,2005-01-05,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436,191.6,0.026245
4592,2005-01-04,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436,191.6,0.026245
4593,2005-01-03,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436,191.6,0.026245

In [136]:
df5['data'].apply(get_column_by_year, year_column='year', position=1)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
4589    0.0431
4590    0.0431
4591    0.0431
4592    0.0431
4593    0.0431
Name: data, Length: 4594, dtype: float64

In [137]:
df5['erp_t_bill_rate'] = df5['data'].apply(get_column_by_year, year_column='year', position=1)
df5['erp_t_bond_rate'] = df5['data'].apply(get_column_by_year, year_column='year', position=2)
df5['erp_bond_bill'] = df5['data'].apply(get_column_by_year, year_column='year', position=3)
df5['erp_implied_premium_ddm'] = df5['data'].apply(get_column_by_year, year_column='year', position=4)
df5['erp_implied_erp_fcfe'] = df5['data'].apply(get_column_by_year, year_column='year', position=5)
df5['erp_riskfree_rate'] = df5['data'].apply(get_column_by_year, year_column='year', position=6)

In [138]:
df5

,data,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m,erp_t_bill_rate,erp_t_bond_rate,erp_bond_bill,erp_implied_premium_ddm,erp_implied_erp_fcfe,erp_riskfree_rate
0,2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,2005-01-07,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385
4590,2005-01-06,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385
4591,2005-01-05,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385
4592,2005-01-04,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385
4593,2005-01-03,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385

In [139]:
df5.to_excel('erp_u.xlsx')

# Finalizando ERP

In [140]:
ipca = pd.read_excel('ipca.xlsx')

ipca

     Unnamed: 0   ano  mes_indice  indice_dez  no_mes  12_meses
0             0  1994           2      198.22   40.27   3035.71
1             1  1994           3      282.96   42.75   3417.39
2             2  1994           4      403.73   42.68   3828.49
3             3  1994           5      581.49   44.03   4331.19
4             4  1994           6      857.29   47.43   4922.60
..          ...   ...         ...         ...     ...       ...
348         348  2023           2     6563.07    0.84      5.60
349         349  2023           3     6609.67    0.71      4.65
350         350  2023           4     6649.99    0.61      4.18
351         351  2023           5     6665.28    0.23      3.94
352         352  2023           6     6659.95   -0.08      3.16

[353 rows x 6 columns]

In [141]:
def get_column_by_date(date, year_column, month_column, position, data_frame):
  year = date.year
  month = date.month

  dt = data_frame.loc[data_frame[year_column] == year]
  dt = dt.loc[dt[month_column] == month]
  values = dt.values

  if (values.any()):
    return float(values[0][position])
  else:
    return None

In [142]:
df6 = df5.copy()

In [144]:
df6['data'].apply(get_column_by_date, year_column='ano', month_column='mes_indice', position=3, data_frame=ipca)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
4589    2412.83
4590    2412.83
4591    2412.83
4592    2412.83
4593    2412.83
Name: data, Length: 4594, dtype: float64

In [145]:
df6['ipca_indice_dez'] = df6['data'].apply(get_column_by_date, year_column='ano', month_column='mes_indice', position=3, data_frame=ipca)
df6['ipca_no_mes'] = df6['data'].apply(get_column_by_date, year_column='ano', month_column='mes_indice', position=4, data_frame=ipca)
df6['ipca_12_meses'] = df6['data'].apply(get_column_by_date, year_column='ano', month_column='mes_indice', position=5, data_frame=ipca)

In [146]:
df6

,data,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m,erp_t_bill_rate,erp_t_bond_rate,erp_bond_bill,erp_implied_premium_ddm,erp_implied_erp_fcfe,erp_riskfree_rate,ipca_indice_dez,ipca_no_mes,ipca_12_meses
0,2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4589,2005-01-07,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385,2412.83,0.58,7.41
4590,2005-01-06,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385,2412.83,0.58,7.41
4591,2005-01-05,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385,2412.83,0.58,7.41
4592,2005-01-04,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385,2412.83,0.58,7.41
4593,2005-01-03,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436,191.6,0.026245,0.0431,0.0439,0.0008,0.022,0.0408,0.929385,2412.83,0.58,7.41

In [147]:
df6.to_excel('ipca_u.xlsx')

# Finalizando ipca

In [149]:
ke = pd.read_excel('ke.xlsx')
ke = ke[ke.columns[1:]]
ke

,date,ke,rf_10_y,cpi,ipca,premio_risco,risco_pais,selic_dia
0,2023-07-21,0.110432,0.0384,0.031270,0.0316,0.0500,0.0217,0.1365
1,2023-07-20,0.110532,0.0385,0.031270,0.0316,0.0500,0.0217,0.1365
2,2023-07-19,0.109832,0.0375,0.031270,0.0316,0.0500,0.0220,0.1365
3,2023-07-18,0.110132,0.0380,0.031270,0.0316,0.0500,0.0218,0.1365
4,2023-07-17,0.110532,0.0381,0.031270,0.0316,0.0500,0.0221,0.1365
...,...,...,...,...,...,...,...,...
2135,2015-01-08,0.184380,0.0259,-0.003396,0.0641,0.0612,0.0278,0.1165
2136,2015-01-07,0.184233,0.0252,-0.003396,0.0641,0.0612,0.0284,0.1165
2137,2015-01-06,0.184533,0.0252,-0.003396,0.0641,0.0612,0.0287,0.1165
2138,2015-01-05,0.184787,0.0260,-0.003396,0.0641,0.0612,0.0281,0.1165
2139,2015-01-02,0.184048,0.0269,-0.003396,0.0641,0.0612,0.0264,0.1165

In [150]:
ke.rename({'date': 'data'}, axis='columns', inplace=True)

In [152]:
ke.set_index('data', inplace=True)

In [154]:
ke.columns = ke.columns.map(lambda col: f"ke_{col}" if col != 'ke' else col)

In [155]:
ke

,ke,ke_rf_10_y,ke_cpi,ke_ipca,ke_premio_risco,ke_risco_pais,ke_selic_dia
data,,,,,,,
2023-07-21,0.110432,0.0384,0.031270,0.0316,0.0500,0.0217,0.1365
2023-07-20,0.110532,0.0385,0.031270,0.0316,0.0500,0.0217,0.1365
2023-07-19,0.109832,0.0375,0.031270,0.0316,0.0500,0.0220,0.1365
2023-07-18,0.110132,0.0380,0.031270,0.0316,0.0500,0.0218,0.1365
2023-07-17,0.110532,0.0381,0.031270,0.0316,0.0500,0.0221,0.1365
...,...,...,...,...,...,...,...
2015-01-08,0.184380,0.0259,-0.003396,0.0641,0.0612,0.0278,0.1165
2015-01-07,0.184233,0.0252,-0.003396,0.0641,0.0612,0.0284,0.1165
2015-01-06,0.184533,0.0252,-0.003396,0.0641,0.0612,0.0287,0.1165
2015-01-05,0.184787,0.0260,-0.003396,0.0641,0.0612,0.0281,0.1165
2015-01-02,0.184048,0.0269,-0.003396,0.0641,0.0612,0.0264,0.1165

In [156]:
df7 = df6.copy()

In [158]:
df7.set_index('data', inplace=True)

In [159]:
concatDf7 = pd.concat([df7, ke], axis=1)

In [160]:
concatDf7

,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m,...,ipca_indice_dez,ipca_no_mes,ipca_12_meses,ke,ke_rf_10_y,ke_cpi,ke_ipca,ke_premio_risco,ke_risco_pais,ke_selic_dia
data,,,,,,,,,,,,,,,,,,,,,
2005-01-03,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436,191.6,0.026245,...,2412.83,0.58,7.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436,191.6,0.026245,...,2412.83,0.58,7.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-05,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436,191.6,0.026245,...,2412.83,0.58,7.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-06,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436,191.6,0.026245,...,2412.83,0.58,7.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-07,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436,191.6,0.026245,...,2412.83,0.58,7.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-18,117.841,118.218,118.732,117.324,8.58,-0.32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.110132,0.0380,0.03127,0.0316,0.05,0.0218,0.1365
2023-07-19,117.552,117.842,118.011,116.660,9.73,-0.25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.109832,0.0375,0.03127,0.0316,0.05,0.0220,0.1365
2023-07-20,118.083,117.558,118.290,117.484,8.99,0.45,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.110532,0.0385,0.03127,0.0316,0.05,0.0217,0.1365
2023-07-21,120.217,118.090,120.373,118.086,11.18,1.81,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.110432,0.0384,0.03127,0.0316,0.05,0.0217,0.1365
2023-07-24,121.506,120.220,121.772,120.099,4.59,1.07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
concatDf7.to_excel('ke_u.xlsx')

# Finalizando ke

In [162]:
pib = pd.read_excel('pib.xlsx')

In [163]:
pib

     Unnamed: 0  ano_pib  trimestre_pib  indice_pib  crescimento_pib
0             0     1996              3     189.323              NaN
1             1     1996              6     204.611              NaN
2             2     1996              9     221.513              NaN
3             3     1996             12     239.316              NaN
4             4     1997              3     219.117         0.157371
..          ...      ...            ...         ...              ...
104         104     2022              3    2315.709         0.075762
105         105     2022              6    2471.837         0.132805
106         106     2022              9    2543.645         0.128256
107         107     2022             12    2584.126         0.118880
108         108     2023              3    2556.531         0.103995

[109 rows x 5 columns]

In [176]:
def get_pib(date, position):
  year = date.year
  month = date.month
  quarter = 0
  matches = pib.loc[pib['ano_pib'] == year]

  if (month <= 3):
    quarter = 3
  elif (month <= 6):
    quarter = 6
  elif (month <= 9):
    quarter = 9
  else:
    quarter = 12

  dt = matches.loc[pib['trimestre_pib'] == quarter]

  values = dt.values

  if (values.any()):
    return float(values[0][position])
  else:
    return None

In [165]:
df8 = concatDf7.copy()

In [167]:
df8.reset_index(inplace=True)

In [178]:

df8['indice_pib'] = df8['data'].apply(get_pib, position=3)
df8['crescimento_pib'] = df8['data'].apply(get_pib, position=4)

In [189]:
df8.set_index('data', inplace=True)

In [190]:
concatDf8 = pd.concat([df8, crp])

In [193]:
concatDf8 = pd.concat([df8, daily_treasure], axis=1)

In [195]:
concatDf8 = pd.concat([df8, ke], axis=1)

In [196]:
concatDf8.to_excel('base_unificada.xlsx')

In [207]:
selic = pd.read_csv('selic.csv')

In [208]:
selic = selic[selic.columns[1:]]

In [209]:
selic.set_index('data', inplace=True)

In [213]:
concatDf9 = pd.concat([concatDf8, selic], axis=1)
concatDf9

,ultimo_valor,valor_abertura,valor_maximo,valor_minimo,volume,variacao,bmp_inv_carteira,bmp_inv_direto,cpi_aucsl,cpi_variacao_12m,...,crescimento_pib,ke,ke_rf_10_y,ke_cpi,ke_ipca,ke_premio_risco,ke_risco_pais,ke_selic_dia,taxa_selic,fator_diario
data,,,,,,,,,,,,,,,,,,,,,
2005-01-03 00:00:00,25.722,26.193,26.492,25.671,115.64,-1.81,-419.62648,1201.56436,191.6,0.026245,...,0.123492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04 00:00:00,24.848,25.722,25.873,24.791,146.14,-3.40,-419.62648,1201.56436,191.6,0.026245,...,0.123492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-05 00:00:00,24.692,24.859,25.001,24.523,127.42,-0.63,-419.62648,1201.56436,191.6,0.026245,...,0.123492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-06 00:00:00,24.367,24.695,24.808,24.250,151.17,-1.32,-419.62648,1201.56436,191.6,0.026245,...,0.123492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-07 00:00:00,24.747,24.376,24.874,24.376,104.96,1.56,-419.62648,1201.56436,191.6,0.026245,...,0.123492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,1.00032
2013-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,1.00032
2013-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,1.00032
2013-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,1.00032
2013-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,1.00032

In [215]:
concatDf9.to_excel('base_unificada.xlsx')